{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<style>
    .ralign {
        float: right;
    }

    .desc {
        max-height: 20vh;
        overflow-y: auto;
    }

    .userlist {
        max-height: 80vh;
        overflow-y: auto;
    }

    #back {
        cursor: pointer;
        transition: transform .3s ease;
        -webkit-transition: -webkit-transform .3s ease;
    }

    #back:hover {
        transform: scale(.9);
        -webkit-transform: scale(.9);
    }
    
    text {
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    }

    table.dataTable thead th {
        position: relative;
        background-image: none !important;
    }
 
    table.dataTable thead th.sorting:after,
    table.dataTable thead th.sorting_asc:after,
    table.dataTable thead th.sorting_desc:after {
        position: absolute;
        top: 12px;
        right: 8px;
        display: block;
        font-family: FontAwesome;
    }

    table.dataTable thead th.sorting:after {
        content: "\f0dc";
        color: #ddd;
        font-size: 0.8em;
        padding-top: 0.12em;
    }
    table.dataTable thead th.sorting_asc:after {
        content: "\f0de";
    }
    table.dataTable thead th.sorting_desc:after {
        content: "\f0dd";
    }

</style>
<link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Skills</div>
                <div class="panel-body" id="radarchart"></div>
            </div>
            <ul class="list-group group">
                <li class="list-group-item active">Group<code class="ralign">Variance:<span id="groupvar">0.0</span></code></li>
                <li class="list-group-item list-group-item-info" id="litem_me">{{user_login.name}}</li>
                <a href="#" id="submitgroup" class="list-group-item active">Submit</a>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Postings</div>
                <div class="panel-body">
                    <table id="userlist" class="table table-hover table-condensed">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                {% for skill in skill_names %}
                                <th>{{ skill }}</th>
                                {% endfor %}
                                <th>Repu</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">{{ course }}</div>
                <div class="panel-heading">{{ task.title }}</div>
                <div class="panel-body">
                    <p class="desc">{{task.description}}</p>
                    <h5><code>Start Date: {{task.start}}</code></h5>
                    <h5><code>End Date: {{task.end}}</code></h5>
                </div>
            </div>
            <ul class="list-group" id="notifications">
                <li class="list-group-item active">Notifications</li>
                <li class="list-group-item list-group-item-warning">Group variance should be over 2.5</li>
                <li class="list-group-item list-group-item-warning">4 members or less please</li>
            </ul>
        </div>
    </div>
</div>
<script src="{% static 'js/datatables.min.js' %}"></script>
<script>
    var coursename = "{{ course }}";
    var taskname = "{{ task.title }}";
    var skillvals = {{ skill_vals | safe }};
</script>
<script src="{% static 'js/bulletin.js' %}"></script>
{% endblock %}
