{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scheduler.min.css' %}">
<style>
    .ralign {
        float: right;
    }

    #arrows {
        :wq
        text-align: center;
        padding: 0;
    }

    #arrows .btn {
        margin-top: 20px;
    }

    .fc-event, kbd {
        cursor: pointer;
    }

    .tagselected {
        background-color: #777777;
    }

    .extern {
        height: 25px;
        line-height: 25px;
        margin: 1em 0;
        border-radius: 0px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Skills</div>
                <div class="panel-body" id="radarchart"></div>
            </div>
            <ul class="list-group" id="suggested">
                <li class="list-group-item active">Suggested Tasks</li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Course Tasks</div>
                <div class="panel-body" id="cal_holder"></div>
            </div>
        </div>
        <div class="col-md-2">
            <ul class="list-group" id="goto">
                <li class="list-group-item active">Links</li>
                {% for n in notifications.to_begin %}
                <a href="/bulletin/?course={{n.course_owner}}&task={{n.title}}" class="list-group-item list-group-item-warning notify">
                   <i class="fa fa-users"></i>&nbsp;{{n.title}}<kbd class="ralign">{{n.course_abbr}}</kbd>
                </a>
                {% endfor %}
                {% for n in notifications.completed %}
                <a href="/feedback/?task={{n}}" class="list-group-item list-group-item-success">{{n}}<i class="ralign fa fa-comment"></i></a>
                {% endfor %}
            </ul>
            <ul class="list-group">
                <li class="list-group-item active">Objectives</li>
                {% for course, val in objectives.items %}
                <a data-toggle="collapse" class="list-group-item list-group-item-info" href="#col_{{forloop.counter}}">{{ course }}</a>
                <div id="col_{{forloop.counter}}" class="collapse">
                    <ul class="list-group">
                    {% for obj in val.objs %}
                    <a href="#" id="{{obj.id}}" class="objselect list-group-item">{{ obj.name }}{% if obj.name == val.myobj %}<i class="ralign fa fa-check"></i>{% endif %}</a>
                    {% endfor %}
                    </ul>                    
                </div>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTmpl" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/scheduler.min.js' %}"></script>
<script type="text/javascript">
    var skill_names = {{ skills | safe }};
</script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
