{% extends "base.html" %}
{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/fullcalendar.min.css' %}">
<link rel="stylesheet" href="{% static 'css/scheduler.min.css' %}">
<style>
    .ralign {
        float: right;
    }

    #arrows {
        :wq
        text-align: center;
        padding: 0;
    }

    #arrows .btn {
        margin-top: 20px;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">Skills</div>
                <div class="panel-body" id="radarchart"></div>
            </div>
            <ul class="list-group" id="suggested">
                <li class="list-group-item active">Suggested Tasks</li>
            </ul>
        </div>
        <div class="col-md-8">
            <div class="panel panel-primary">
                <div class="panel-heading">Course Tasks</div>
                <div class="panel-body" id="cal_holder"></div>
            </div>
        </div>
        <div class="col-md-2">
            <ul class="list-group" id="goto">
                <li class="list-group-item active">Links</li>
                {% for n in notifications %}
                <a href="/bulletin/?course={{n.owner}}&task={{n.title}}" class="list-group-item list-group-item-warning notify">
                {{n.title}}<i class="ralign fa fa-users"></i>
                </a>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<div class="modal fade" id="modalTmpl" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header mh">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body mb"></div>
            <div class="modal-footer mf">
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/moment.js' %}"></script>
<script src="{% static 'js/fullcalendar.min.js' %}"></script>
<script src="{% static 'js/scheduler.min.js' %}"></script>
<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}
